.sidebar {
  width: 240px;
  min-height: 100vh;
  background-color: var(--cor-sidebar);
  color: #ffffff;
  padding: 25px 15px;
}

.link {
  color: var(--cor-sidebar-link);
  text-decoration: none;
  display: block;
  padding: 14px 12px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.link:hover {
  background-color: var(--cor-sidebar-hover);
  color: #ffffff;
}

.ativo {
  background-color: var(--cor-primaria);
  color: #ffffff;
}

.ativo:hover {
  background-color: var(--cor-primaria-hover);
  color: #ffffff;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ebebeb;
}

.sidebar ul {
  list-style: none;
}
